
<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <% page.posts.sort('date', -1).limit(5).each(post => { %>
      <div class="recent-post-item">
        <a href="<%=url_for(post.path)%>"><%=post.title%></a>
      </div>
    <% }); %>
  </div>
<% } %>
