<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= theme.site_author %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> | Theme by  <a href="https://github.com/FuShaoLei/hexo-theme-hiya" target="_blank">Hiya</a>
      <% if (theme.busuanzi.open){ %>
        <br>
        <span id="busuanzi_container_site_pv">总访问量<span id="busuanzi_value_site_pv"></span>次</span>
      <span id="busuanzi_container_site_uv">
        访客数<span id="busuanzi_value_site_uv"></span>人次
      </span>
        <%}%>
      
    </div>
    
  </div>
</footer>