/*设置侧边栏的样式*/
#side{
    overflow: auto;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(26, 161, 105);
}
#content-outer{
    margin-left: 300px;
}
ul,li{
    list-style: none;
}
.oneLevel {
    display: inline-block;
    width: 200px;
    line-height: 32px;
    cursor: pointer;
}

.oneLevel > span {
    margin-left: 10px;
}

.oneLevelList {
    display: none;
}