* {
  margin: 0;
}

html,
body {
  height: 100%;
}
a{
  text-decoration: none;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  
}

.index-side {
  height: 100%;
  flex: 0 0 250px;
}

.index-content {
  padding: 10px;
  z-index: 100;
  margin-left: 8%;
  margin-right: 8%;
  background: #fcfcfc;
  flex: 4;
  
}

/*自适应，当宽度小于1100px的时候自动调整*/
@media (max-width:1100px) {
  .index-side {
    flex: 0 0 200px;
  }

  .index-content {
    margin-left: 0%;
    margin-right: 0%;
    flex: 4;
  }
}
