/*设置文章的所有样式*/
/*设置代码的样式*/
.highlight{
    background: #F9F9F9;
    overflow: auto;
    border-left: 5px solid #00bdaa;
}
/*设置h1，h2,h3,h4,h5,h6*/
#post{
    line-height: 1.6;
    color: #333;
}
#post h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
/* #post h1:first-child{
    font-size: 30px;

}*/
#post h1:first-child:before{
    content: '\ ';
} 
#post{
    margin-bottom: 100px;
}
#post h1{
    font-size: 25px;
}
#post h2{
    font-size: 21px;
}
#post h3{
    font-size: 19px;
}
#post h4{
    font-size: 17px;
    font-weight: bold;
}
#post h5{
    font-size: 16px;
    font-weight: bold;
}
#post h6{
    font-size: 14px;
    font-weight: bold;
}
#post h1:before{
    content: '\# ';
    color: #00bdaa;
    font-weight: bold;
}
/*设施文章标题的样式*/
.post-title{
    font-size: 25px;
}
/*设置一小段代码（高亮）的样式*/
#post code{
    font-weight: bolder;
    color: #00bdaa;
    padding: 5px;
    font-size: 14px;
    background: #F9F9F9;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
}
/*设置超链接的样式*/
#post a{
    color: #fe346e;
}
/*设置文章日期的样式*/
.post-time{
    font-size: 11px;
    color: #76839B;
    margin-bottom: -30px;
}
/*设置引用框的样式*/
/*普通的引用框*/
blockquote{
    padding: 5px;
     border: 1px ;
    background-color: #EEEEEE;
    border-left: 5px solid #00bdaa;
}
/*设置文章目录的样式*/
.post-toc{
    line-height: 1.5;
    z-index: 9999;
    padding: 5px 10px;
    font-size: 14px;
    position: fixed;
    top: 60px;
    text-align: right;
    right: 30px;
    width: 14px;
    height: 22px;
    overflow: hidden;
    background: #EEEEEE;
}
.post-toc ol{
  list-style: none;
}
.post-toc:hover{
    width: auto;
    height: auto;
    /* max-height: 420px; */
    overflow: visible;
}
.toc{
    text-align: left;
    padding: 0;
}
.toc-level-1:before{
    content: '\# ';
    color: #00bdaa;
    font-weight: bold;
}
/*改变无序列表和有序列表的默认图标*/
#post ul,li,ol{
    list-style-type: none;
}
#post ul>li:before{
    content: '\o ';
    color: #00bdaa;
    font-size: 18px;
    font-weight: bold;
}
#post ol>li:before{
    content: counter(li);
    counter-increment: li;
    margin-right: 5px;
    font-size: 18px;
    color: #00bdaa;
    font-weight: bold;
}
/*设置table里的样式*/

