/*设置侧边栏的样式*/
.sidebody {
    width: 230px;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    color: #0E2829;
}
@media (max-width:1100px){
 .sidebody{
     width:179px;
 }
}

.sidebody a {
    color: #0E2829;
    transition: .5s linear
}

.sidebody a:hover {
    margin-left: 10px;
    color: #00bdaa;
}

ul,
li {
    list-style: none;
}

.oneLevel {
    display: inline-block;
    width: 200px;
    line-height: 32px;
    cursor: pointer;
}

.oneLevel>span {
    margin-left: 10px;
}

.oneLevelList {
    display: none;
}

/*设置一级标题的样式*/
.first-cate {
    font-size: 1em;
    font-weight: 650;
    line-height: 1.7;
}

/*设置二级标题的样式*/
.second-cate {
    font-size: 1em;
    line-height: 1.6;
    margin-left: 15px;
}

.second-cate i {
    color: #D83640;
}

/*设置分级后文章标题的样式*/
.cate-post-title {
    margin-left: 35px;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6;
}

/*设置个人栏的样式*/
#menu-outer {
    height: 200px;

}

/*设置头像的样式*/
#avator-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}

.meinfo {
    margin-top: 20px;
}

#author {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1em;
    font-weight: 650;
    line-height: 1.7;
}

#subtitle {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 0.8em;
    color: #24292e !important;
    line-height: 1.6;
}

#menu-inner {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

.menu-name a {
    font-size: 0.9em;
}

.menu-name:before {
    content: '\| ';
    color: #C02328;
    font-weight: bolder;
}

.menu-name:first-child:before {
    content: '\ ';
}
