#comments
  @extend $block
  border-radius: 15px
  padding: article-padding
  margin: block-margin 0
  input
    color: color-neu-normal-text
    &::placeholder
      color: color-neu-highlight
  a
    color: color-neu-normal-text
  textarea
    color: color-neu-normal-text
    &::placeholder
      color: color-neu-highlight
  .vbtn,.vempty
    color: color-neu-highlight
  .vcontent
    p
      color: color-neu-normal-text
  .vcount
    color: color-neu-normal-text
  .vhead
    color: color-neu-normal-text
  .vat
    color: color-neu-highlight


  

