#footer
  background: color-neu-bg
  padding: 50px 0
  color: color-neu-normal-text
  a
    color: color-neu-highlight
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em