
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <!--引入css文件-->
  <!--图标库-->
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css">
  <%- css(['css/hiya.css','css/post.css','css/index-post.css','css/archive.css','css/side.css']) %> 
</head>
<body>
  <div class="flex-container">
    <div class="index-side">
     
    </div>
    
    <div class="index-content">
      <%- body %>
    </div>
  </div>

<!--引入js文件-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<%- js(['js/jquery.pjax.js', 'js/hiya.js']) %>

</body>
</html>
